
// Productions
((not model or main) and (not main or model)) and

// Pattern
((not Decrypt or main) and (not Verify or main) and (not Forward or main) and (not Sign or main) and (not AddressBook or main) and (not AutoResponder or main) and (not Encrypt or main) and (not Keys or main) and (not main or Base) and (not Base or main)) and

// ESList
((not Encrypt or Decrypt) and (not Decrypt or Encrypt)) and
(not Encrypt or Keys) and
((not Sign or Verify) and (not Verify or Sign)) and
(not Sign or Keys) and

// root
(model)
